* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size:  1rem;
	background-image: url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*
---------------
MAIN LAYOUT
---------------
*/

.logo-header {
	padding: 4.057em 13.75em 0 10.313em;
	position: absolute;
}

.container {
	display:  flex;
}

.newsletter-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4.057em 13.75em 0 10.313em;
	width: 57.6%;
}

.newsletter-img {
	height: 100vh;
	width: 42.4%;
	object-fit: cover;
}

.newsletter-img-mobile {
	display: none;
}

/*
---------------
FORM
---------------
*/

.form-container {
	display: flex;
	flex-direction: column;
}

#email-collector {
	padding-top: 2.5em;
	position: relative;
}

input {
	width: 77.5%;
	max-width: 445px;
	height: 56px;
	border: 1px solid #CE9898;
	border-radius: 28px;
	color: #CE9898;
	padding: 0 2rem;
	color: #423A3A;
	line-height: 1.75rem;
	font-weight: 400;
}

input::placeholder {
	color: #CE9898;
}

.input-control.success input {
	border-color:#CE9898;	
}

.input-control.success #successMessage {
	color: #423A3A;
}

.input-control.error input {
	border: 1px solid  #F96464;
	background: url("images/icon-error.svg") 79% 50% no-repeat;	
}

.input-control .error {
	padding: 1rem 2rem;
	color: #F96464;
}

.input-control input:focus {
	outline: 0;
}

.btn {
	all: unset;
	position: absolute;
	cursor: pointer;
	background-color: #F8BFBF;
	background-image: url("images/icon-arrow.svg"), linear-gradient(135deg, #F8BFBF, #EE8C8C);
	background-repeat: no-repeat;
	background-position: center;
	width: 22.5%;
	max-width: 100px;
	height: 56px;
	margin-left: -5em;
	text-align: center;
	border: 1px solid #CE9898;
	border-radius: 28px;
	color: #423A3A;
	box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
}

/*
---------------
TYPOGRAPHY
---------------
*/

.opening-announcement {
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
	padding-top: 2rem;
	max-width: 500px;
}

.newsletter-title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4rem;
	display: block;
	white-space: pre-line;
	letter-spacing: 1.083rem;
	line-height: 4rem;
}

.opening-announcement,
.newsletter-title{
	color: #CE9898;
}

.coming-soon {
	font-weight: 600;
	line-height: 4.438rem;
	color: #423A3A;
}

/*
---------------
MEDIA QUERIES
---------------
*/

@media (max-width: 1500px) {
	.input-control.error input {
		background: url("images/icon-error.svg") 72% 50% no-repeat;	
	}
  }

@media (max-width: 770px) {
	body {
		background-image: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
	}

	.container {
		flex-direction: column;
	}

	.newsletter-signup {
		flex-direction: column;
		padding: 4em 2em 3em 2em;
	}

	.logo-header {
		padding: 2em;
		position: relative;
	}

	.opening-announcement,
	.newsletter-title {
		text-align: center;
	}

	.opening-announcement {
		padding: 1rem 0 2rem 0;
	}

	.newsletter-img {
		display: none;
	}
	
	.newsletter-img-mobile {
		display: block;
		width: 100%;
		order: -1;
	}

	#email-collector {
		padding-top: 0;
	}
}