/*
---------------
SETTING DEFAULTS
---------------
*/

* {
	margin: 0;
	padding: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size:  1rem;
	background-image: url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*
---------------
MAIN LAYOUT
---------------
*/

.logo-header {
	padding: 4.057em 13.75em 0 10.313em;
	position: absolute;
}

.container {
	display:  flex;
}

.newsletter-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4.057em 13.75em 0 10.313em;
	width: 57.6%;
}

.newsletter-img {
	height: 100vh;
	width: 42.4%;
	object-fit: cover;
}

.newsletter-img-mobile {
	display: none;
}

/*
---------------
FORM
---------------
*/

.form-container {
	display: flex;
	flex-direction: column;
}

#email-collector {
	padding-top: 2.5em;
	position: relative;
}

input {
	width: 77.5%;
	max-width: 445px;
	height: 56px;
	border: 1px solid #CE9898;
	border-radius: 28px;
	color: #CE9898;
	background: #FFF4F4;
	padding: 0 2rem;
	color: #423A3A;
	line-height: 1.75rem;
	font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #CE9898 !important;
}

input::placeholder {
	color: #CE9898;
}

.input-control.success input {
	border-color:#CE9898;	
}

.input-control.success #successMessage {
	color: #423A3A;
}

.input-control.error input {
	border: 1px solid #F96464;
	background: url("images/icon-error.svg") 79% 50% no-repeat;	
}

.input-control .error {
	padding: 1rem 2rem;
	color: #F96464;
}

.input-control input:focus {
	outline: 0;
}

input:focus,
input:active,
input:hover {
	border: 1px solid #F8BFBF;
}

.btn {
	all: unset;
	position: absolute;
	cursor: pointer;
	background-image: url("images/icon-arrow.svg"), linear-gradient(135deg, #F8BFBF, #EE8B8B);
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 56px;
	margin-left: -5em;
	text-align: center;
	border: 1px solid #CE9898;
	border-radius: 28px;
	color: #423A3A;
	box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
}

.btn:focus,
.btn:active,
.btn:hover {
	background-color: #F8BFBF;
	background-image: url("images/icon-arrow.svg"), linear-gradient(135deg, #F8BFBF, rgba(255, 255, 255, .5));
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
	border: 1px solid #F8BFBF;
}


/*
---------------
TYPOGRAPHY
---------------
*/

.opening-announcement {
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
	padding-top: 2rem;
	max-width: 500px;
}

.newsletter-title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4rem;
	display: block;
	white-space: pre-line;
	letter-spacing: 1.083rem;
	line-height: 4rem;
}

.opening-announcement,
.newsletter-title{
	color: #CE9898;
}

.coming-soon {
	font-weight: 600;
	line-height: 4.438rem;
	color: #423A3A;
}

/*
---------------
MEDIA QUERIES
---------------
*/

@media (max-width: 1500px) {
	.input-control.error input {
		background: url("images/icon-error.svg") 72% 50% no-repeat;	
	}
  }

  /* To account for tablet viewports. */
@media (max-width: 770px) {
	body {
		background-image: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
		background-color: #FFF4F4;
	}

	.container {
		flex-direction: column;
		align-items: center;
	}

	.newsletter-signup {
		flex-direction: column;
		align-items: center;
		padding: 4em 2em 3em 2em;
		width: 100%;
	}

	.form-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo-header {
		padding: 2em;
		position: relative;
	}

	.opening-announcement,
	.newsletter-title,
	.coming-soon {
		text-align: center;
	}

	.opening-announcement {
		padding: 1rem 2rem 2rem 2rem;
	}
	.newsletter-img {
		display: none;
	}

	.newsletter-title,
	.coming-soon {
		margin: 0;
		padding: 0;
	}
	
	.newsletter-img-mobile {
		display: block;
		width: 100%;
		order: -1;
	}
	
	#email-collector {
		padding-top: 0;
		min-width: 311px;
		width: 27.813rem;
		margin-left: 2em;
	}

	.btn {
		width: 64px; 
		margin-left: -4em;

	}

}

  /* To account for smart phone viewports. */
@media (max-width: 450px) {

	.newsletter-title {
		font-size: 2.5rem;
		margin-right: -1.2rem;
	}

	.opening-announcement {
		max-width: 260px;
	}

	#email-collector {
		width: 12.5em;
		margin: 0 auto;
	}

	.opening-announcement,
	#email-collector {
		font-size: 0.875;
	}
}